page-contact {

    background: ghostwhite;

    .item-profile {
        height: auto;

        & > img:first-child {
            width: auto;
            height: auto;
            /*border-radius: 100px;*/
        }
    }

    .header-image {
        background-image: url(../assets/perfil.jpg);
        height: 40vh;
    }

    .main-content {
        padding: 20px;
        background-color: white;
        width: 100%;
    }

}
