<ion-header>
    <ion-navbar>
        <ion-title>
            Resultados
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <p *ngIf="error">{{error}}</p>

    <div *ngIf="cargando_usuarios" text-center>
        <ion-spinner  text-center name="bubbles"></ion-spinner>
    </div>

    <ion-list>
        <ion-card *ngFor="let usuario of usuarios | async">

            <ion-item>
                <h2>{{ usuario.nombre }}</h2>
                <p>{{ usuario.fecha_creacion }}</p>
            </ion-item>

            <ion-item *ngFor="let respuesta of usuario.respuestas">
                <h2>{{ respuesta.pregunta.pregunta }}</h2>
                <p>{{ respuesta.pregunta.posibles_respuestas[respuesta.respuesta] }}</p>
                <ion-icon name="{{respuesta.es_correcta ? 'checkmark-circle' : 'close-circle'}}" color="{{respuesta.es_correcta ? 'primary' : 'danger'}}" item-right large></ion-icon>
            </ion-item>

        </ion-card>

    </ion-list>

</ion-content>
