page-juego {

    .btn-animal{
        float:left;
        width: 48%;
        margin: 0px 1% 1% 1%;
        text-align: center;

         @media screen and (orientation:landscape) {
             width: 30% !important;
         }

        img{
            margin: 0 auto;
        }
    }

    background: ghostwhite;

    .page-finalizado {
        .label{
            h2{
                white-space: normal !important;
            }
        }
    }

}
