page-contact {

    background: ghostwhite;

    .item-profile {
        height: auto;

        & > img:first-child {
            width: auto;
            height: auto;
            border-radius: 100px;
        }
    }

}
