<ion-header>
    <ion-navbar color="dark">
        <ion-title>
            Últimas melodías
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <p *ngIf="error">{{error}}</p>

    <div *ngIf="cargando_usuarios" text-center>
        <ion-spinner text-center name="bubbles"></ion-spinner>
        <p *ngIf="esta_tardando">Esta tardando demasiado. Chequea tu connección a Internet.</p>
    </div>

    <ion-card *ngFor="let usuario of usuarios | async">

        <ion-card-header>
            <h2>{{ usuario.nombre }}</h2>
            <p>{{ usuario.fecha_creacion }}</p>
        </ion-card-header>

        <ion-card-content>
            <h2>Melodia:</h2>
            <ion-row no-padding>
                <button *ngFor="let boton of usuario.historial" ion-item text-center class="btn-animal animated bounceInLeft">
                    <img src="assets/imagenes/{{boton.id}}.png" width="48" height="48"/>
                    <h2>{{boton.id}} </h2>
                </button>
            </ion-row>

            <ion-row no-padding>
                <button (click)="reproducir(usuario.historial)" clear color="danger" icon-left ion-button small>
                    <span class="button-inner">
                        <ion-icon name="musical-notes" role="img" aria-label="musical notes"></ion-icon>
                        Reproducir ultimas 3
                    </span>
                    <div class="button-effect"></div>
                </button>
            </ion-row>

        </ion-card-content>

    </ion-card>

</ion-content>
